thefuzz==0.20.0
fuzzywuzzy==0.18.0
bitsandbytes
datasets
accelerate
loralib
openai==0.28
scikit-learn
matplotlib
git+https://github.com/huggingface/transformers.git@main
git+https://github.com/huggingface/peft.git